/* Sticky footer styles
-------------------------------------------------- */
#intro {
  padding-top: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: lightgray;
  color: white;
  text-align: center;
}
